<div class="text-center">
  <form class="form-signin">
    <h1 class="h4 mb-2 login">Login do cliente</h1>
    <label for="inputEmail " class="sr-only">Email</label>
    <input  type="email" name="email" 
            id="inputEmail" placeholder="Informe o seu email"
            class="form-control mb-2"/>
    <label for="inputSenha" class="sr-only">Senha</label>
    <input type="password" id="inputSenha"
            name="senha" placeholder="Senha"
            class="form-control mb-2">
    <button class="btn btn-primary btn-block mb-2" type="submit">Entrar</button>

  </form>
</div>